/////////////////////////////////////////////
/// /////////////////////////////////////////////
/// SEARCH-INPUT
/// /////////////////////////////////////////////
/// /////////////////////////////////////////////

.header-section__search-form {
  display: flex;
  width: 500px;
  position: relative;
  @media screen and (max-width: 1599px) {
    width: 250px;
  }
}

.header-section__search-class {
  display: flex;
  align-items: center;
  position: relative;
}

.header-section__search-input {
  width: 100%;
  padding-left: 50px;
  color: #5c5c5c;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  border-radius: 5px;
  border: 1px solid #fff;
  justify-content: center;
}

.header-section__search-button {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

/////////////////////////////////////////////
/// /////////////////////////////////////////////
/// SLIDER
/// /////////////////////////////////////////////
/// /////////////////////////////////////////////

.main__banner-slideshow-container {
  position: relative;
  height: 520px;
}

.main__banner-slides {
  display: none;
  height: fit-content;
  position: relative;
}

.main__banner-img {
  width: 100%;
  height: 520px;
}

/* Кнопки next & previous*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Измените положение "next button" */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Добавьте черный фоновый цвет с небольшой прозрачностью*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Подпись под изображением */
// .text {
//   color: #ffffff;
//   font-size: 15px;
//   padding: 8px 12px;
//   position: absolute;
//   bottom: 8px;
//   left: 0;
//   width: 100%;
//   text-align: center;
// }
/* Number text (1/3 etc) */

.main__banner-sign-container {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main__banner-sign {
  width: 400px;
  height: 150px;
}

.main__banner-sign-text {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  @include text-properties(700, normal);
  font-size: 30px;
}

// .main__banner-slides-title {
//   color: #ffffff;
//   font-family: "Poppins", sans-serif;
//   @include text-properties(400, normal);
//   font-size: 12px;
//   padding: 8px 12px;
//   position: absolute;
//   top: 10px;
// }

.dot-class {
  position: relative;
  bottom: 25px;
}

/* Точки/маркеры/указатели */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  //   margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #ffc248;
}
/* Выцветание анимации */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Для маленьких экранов увеличьте размер текста */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
