.container {
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;

  @media screen and (max-width: 1199px) {
    @include padding(0, 30px, 0, 30px);
  }
  @media screen and (max-width: 767px) {
    @include padding(0, 20px, 0, 20px);
  }
}
.body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  position: relative;
}
