.footer {
  background: #2b344e;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__category-title {
  color: white;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 24px;
}

.footer__category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__category-element {
}

.footer__category-link {
  text-decoration: none;
}

// .txt-no-dec {
// }
.footer__category-text:hover {
  text-decoration: underline;
}

.footer__category-text {
  color: white;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 18px;
}

.underlined {
  text-decoration: underline;
}

.footer__category-socials-list {
  display: flex;
  gap: 20px;
}

.footer__down-part {
  margin-top: 30px;
}

hr {
  border: 1px solid rgb(220, 220, 220);
  opacity: 0.2;
}

.footer__down-part-author {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.footer__down-part-text {
  color: rgb(195, 195, 195);
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 18px;
}

.footer__down-part-logo {
  width: 200px;
  height: 70px;
}
