.header {
  display: flex;
  flex-direction: column;
  background-color: #4059ad;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-section__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header__section-text {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
}

.header__changes {
  display: flex;
  gap: 20px;
}
.header__changes-language {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
  cursor: pointer;
}
.header__changes-language:hover {
  text-decoration: underline;
}
.header__changes-text {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
}

.header__changes-currency {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
  cursor: pointer;
}

.header__changes-currency:hover {
  text-decoration: underline;
}

.header-section {
  display: flex;
}

.header-section__logo {
  width: 200px;
  height: 70px;
}

.header-section__button {
  font-family: "Lato", sans-serif;
  background-color: #4059ad;
  border: 1px solid $white;
  padding: 5px 20px;
  height: fit-content;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
}

.header-section__button:hover {
  background-color: #536296;
}
