.main-info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-column-gap: 30px;
}

.main__filters {
  height: auto;
  // border: 1px solid black;
  padding: 20px;
  background-color: #b5c7ee;
  // opacity: 0.6;
}

.main__filters-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__filters-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__filters-element-link {
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.main__filters-element-link:hover {
  text-decoration: underline;
}

.main__filters-content {
}

.main__filters-content-category {
  display: flex;
  gap: 15px;
  align-items: center;
}

.main__filters-category-title {
  color: #3e3e3e;
  font-family: "Poppins", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 28px;
  display: flex;
  flex-direction: row;
}

.main__filters-category-numbers {
  color: #3e3e3e;
  font-family: "Poppins", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 20px;
}

.main__banner {
  border: 1px solid black;
  height: 520px;
}

.main__popular-themes {
  display: flex;
  flex-direction: column;
}

.main__popular-themes-banner {
  margin-top: 50px;
  height: 200px;
  background-image: url(/images/pictures/popular-themes3.jpg);
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}

.main__popular-themes-text {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 34px;
  text-transform: capitalize;
}

.main__popular-themes-examples {
  display: flex;
  margin-bottom: 50px;
}

.main__popular-themes-examples-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popular-themes-example-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 450px;
  background-image: url(/images/pictures/popular-themes-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.popular-themes-example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 450px;
  background-image: url(/images/pictures/popular-themes-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.popular-themes-example-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 450px;
  background-image: url(/images/pictures/popular-themes-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__popular-themes-text {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 34px;
  text-transform: capitalize;
}
/////////////////////////////////////////////
/// /////////////////////////////////////////////
/// PRODUCTS
/// /////////////////////////////////////////////
/// /////////////////////////////////////////////

.main__shop-products {
  margin-bottom: 50px;
}

.main__shop-products-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__shop-products-class {
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);

  font-size: 32px;
}

.main__shop-products-list {
  display: flex;
  gap: 20px;
}

.main__shop-products-element {
  width: 400px;
  height: max-content;
}

.main__shop-products-link {
  text-decoration: none;
  color: black;
}

.main__shop-products-link:hover {
  text-decoration: underline;
}

.main__shop-products-product-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid black;
}

.main__shop-products-photo {
  width: 350px;
  height: 350px;
}

.main__shop-products-info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 5px;
}

.main__shop-products-description {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 20px;
}

.main__shop-products-price {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 32px;
}

.main__shop-products-buying {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

.main__shop-products-to-basket {
  border: 1px solid #000;
  padding: 10px 20px;
  background: #4059ad;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 20px;
  width: 100%;
}

.main__shop-products-to-basket:hover,
.main__shop-products-buy:hover {
  background: #2b344e;
}

.main__shop-products-buy {
  border: 1px solid #000;
  padding: 10px 20px;
  background: #4059ad;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 20px;
  width: 100%;
}

/////////////////////////////////////////////
/// /////////////////////////////////////////////
/// CLIENTS AND SUPPLIERS
/// /////////////////////////////////////////////
/// /////////////////////////////////////////////

.main__for-statement {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.main__for-statement-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__for-statement-buyers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
  column-gap: 30px;
}

.main__for-statement-buyers-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  height: 260px;
  padding: 20px;
  overflow: scroll;
}

.main__for-statement-buyers-banner {
  height: auto;
  background-image: url(/images/pictures/antiques-photo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main__for-statement-buyers-title {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 40px;
}

.main__for-statement-buyers-text {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;
}

.main__for-statement-suppliers {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
}

.main__for-statement-suppliers-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  height: 260px;
  padding: 20px;
  overflow: scroll;
}

.main__for-statement-suppliers-banner {
  height: auto;
  background-image: url(/images/pictures/antiques-photo-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main__for-statement-suppliers-title {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 40px;
}

.main__for-statement-suppliers-text {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;
}

/////////////////////////////////////////////
/// /////////////////////////////////////////////
/// ABOUT COMPANY
/// /////////////////////////////////////////////
/// /////////////////////////////////////////////

.main__about-company {
  margin-bottom: 50px;
}

.main__about-company-info {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

.main__about-company-title {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 40px;
}

.main__about-company-text {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;
}

.main__about-company-advantages {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 30px;
}

.main__about-company-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.main__about-company-element {
  width: fit-content;
}

.main__about-company-element-link {
  width: min-content;
  color: black;
}

.main__about-company-content {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}

.main__about-company-photo {
  width: 50px;
  height: 50px;
}

.main__about-company-advantage {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 24px;
}
.main__about-company-advantage:hover {
  text-decoration: underline;
}

.footer__down-part-text {
  color: rgb(219, 219, 219);
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 14px;
  opacity: 0.9;
}
